* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 10px;
}

.box{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items:flex-start;
}

i {
  font-size: 30px;
}

.icon{
  padding: 20px 40px;
  border-radius: 10px;
  border: 1px solid black;
}

#select-box{
  width: 100%;
  height: 100px;
  text-align: center;
  padding: 40px;
}
